<style>

  .fix{}

  body {background-color:#ffffff; color:#333333; padding:10px; }

  table {width:100%;}
  span {width:100%; text-align:center;}
	label {font-size:12px; margin-top:10px; margin-bottom:10px; width:100%; font-weight: bold;}

	input[type=text] {height:30px !important; padding:5px; text-align: right;}
	input[type=number] {height:30px !important; padding:5px; text-align: right;}

	.marinho {background-color:#04447e !important; color:#ffffff !important;}
	.azul {background-color:#2f75b5 !important; color:#ffffff !important;}
	.vermelho {background-color:#ff3300 !important; color:#ffffff !important;}
	.verde {background-color:#00b050 !important; color:#ffffff !important;}
	.cinza {background-color:#6D6E6F !important; color:#ffffff !important;}
  
  .card {width:100%; max-width:400px; margin:auto; padding:0px 20px 20px 20px;}

  .input-group {margin-top:-1px;}

	.input-group-text {height:30px !important; font-size:10px;}
	.input-group-text a {font-size:15px; color:#ffffff;}

	.input-group-prepend {width:190px;}
	.form-group {margin:0px;}
	.btn-secondary {border:1px solid #cccccc; padding:0px 10px 0px 10px; font-size:15px;}

	.rodape {width:100%; font-size:15px; color:#aaaaaa; text-align:center; margin-top:20px;}
	.rodape img {width:15px;}

</style>